.black-theme {
  color: var(--second-primary-color); /* Text color for the black theme */
  background-color: var(--primary-color); /* Background color for the black theme */
}

.black-theme .nav {
  color: var(--secondary-primary-color); /* Text color for the black theme */
  background-color: var(--secondary-background-color); /* Background color for the black theme */
}

.black-theme .a {
  color: var(--second-primary-color);
}

.black-theme .projects {
  color: var(--primary-color);
}
