.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

@media screen and (max-width: 720px) {
  .contact-form-container {
    max-width: 23.75rem;
  }
}
