.skills {
  max-width: 68.75rem;
  margin: auto;
  padding: 100px 0px;
  text-align: center;
  margin-top: 2.5rem;
  height: 600px;
  margin-top: 2rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.skills-set {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.flip-card {
  background-color: transparent;
  width: 11.875rem;
  height: 11.25rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  border-radius: 11px;
}

.flip-card-back {
  background-color: var(--secondary-color);
  color: black;
  border-radius: 11px;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* This ensures text is centered horizontally within the container */
  height: 100%; /* Ensure the container takes the full height of the card */
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}


@media screen and (max-width: 720px) {
  .skills {
    height: 100%;
  }

  .skills-set {
    flex-direction: column;
  }

  .icon {
    width: 10rem;
    height: 10rem;
  }
}
