@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import 'navbar.css';
@import 'skills.css';
@import 'hero.css';
@import 'more-about-me.css';
@import 'project.css';
@import 'socials.css';
@import 'contact.css';
@import 'black-theme.css';

/* Variables */
:root {
  --font-family: Courier, monospace;
  --normal-font: 400;
  --font-size: large;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-color: rgb(28, 28, 28);
  --second-primary-color: rgb(236, 235, 228);
  --secondary-color: #ff7235;
  --background-color: rgb(236, 235, 228);
  --second-background-color: rgb(28, 28, 28);
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --line-height: 50px;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  font-size: 30px;
}

.up-arrow {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
