body {
  background-color: rgb(236, 235, 228);
  font-family: Courier, monospace;
  font-weight: 500;
  color: rgb(28, 28, 28);
  font-size: large;
  line-height: 50px;
}

#profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.container {
  background-color: rgb(218, 221, 216);
  width: 900px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
}

.logos-blue {
  background-color: rgb(218, 221, 216);
}

.socials {
  color: rgb(69, 123, 157);
  font-weight: 50px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

ul {
  padding: 0px;
  font-size: 50px;
}

.logo {
  width: 75px;
  height: 75px;
}

.socials:hover {
  color: rgb(69, 123, 157, 0.6);
  transition-duration: 0.4s;
}

.button {
  background-color: rgb(193, 73, 83);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 3px, 3px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(193, 73, 83, 0.6);
  color: white;
}
